* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    justify-content:center;
    align-items:center;
    height:100vh;
    width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    background: #fff
}


/* ---------Desktop Topbar-------------- */

.desktop-topbar {
    padding: .75rem 0 0 0;
    opacity: 1;
    z-index: 99;
}

.overlay {
    filter: invert(48%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(25%) contrast(100%);
    transition: all 0.4s ease;
}

.overlay:hover {
    filter: none;
}

/* Mobile Side Menu */

.tablet-logo {
    position: absolute;
    top: 25px;
    padding-left: 20px;
    max-width: 220px;
    z-index: 999;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.tablet-logo.move-right {
    opacity: 0%;
}

/* ---------Contact box-------------- */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    background-color: rgb(255, 255, 255);
    left: 0;

}

.contact-1-image {
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(0, 195, 255, 0.1), rgba(0, 157, 255, 0.1) ), url('../images/Cayman-Chromatic-Flamingo-Tongue-Page-Background-2.jpg');
    background-position: center;
    background-size: cover;
}

.contact-1-image h1 {
    position: absolute;
    bottom: 0;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 2.4rem;
}

#contact-1-content {
    background-color: rgb(255, 255, 255);
    padding: 1rem;

}

#contact-1-content h1 {
    display: none;
    font-size: 3.5rem;
    padding: 0 0 0.1rem 0.5rem;
    font-family: "Josefin Sans", sans-serif;
}



.form-group {
    margin-top: .9rem;
    margin-bottom: 1.4rem;
    transition: all 0.3s;
}

.form-label {
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
    padding: 0 0 0.3rem 0.1rem;
    color: rgb(60, 60, 60);
    display: block;
    opacity: 0.4;
    transition: all 0.3s;
    transform: translateY(25px);
}

.form-control {
    box-shadow: none;
    background: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none;
    margin-bottom: 0.2rem;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.1rem;
    padding: 0.2rem;
    opacity: 1;
    transition: all 0.6s;
}

.form-control::placeholder {
    color: rgba(9, 187, 231, 0);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
    color: rgb(38, 38, 38);
    opacity: 1;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: 0 0 rgb(210, 255, 247);
    border: none;
    color: var(--font-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 0.4s;
    width: 50vw;
}

.btn:hover {
    color: #fff;
    background-color: #09bae7;
}

textarea {
    resize: none;
}

.focused>.form-label {
    opacity: 1;
    color: rgb(58, 212, 255);
    transform: translateY(0px);
}

label,
input,
textarea {
    display: block;
}


@media (min-width: 600px) {
    .contact-1-image h1 {
        font-size: 2.8rem;
    }
}

@media (min-width: 975px) {
    .contact-section {
        margin-top: -55px;
    }
    .con-1 {
        grid-template-columns: 40vw auto;
        height: 100vh;
    }

    #contact-1-content {
        padding-top: 10rem;
    }

    .contact-1-image {
        transform: translateX(-375px);
        width: 80vw;
        clip-path: polygon(0 0, 80% 0, 90% 100%, 0% 100%);
    }

    .contact-1-image h1 {
        display: none;
    }
    
    #contact-1-content h1 {
        display: block;
        margin-left: 8vw;
    }

    .form-group {
        margin-left: 8vw;
        margin-right: 1.5rem;
    }

    .btn {
        margin-left: 18vw;
        width: 250px;
    }
}

@media (min-width: 1200px) {

    .contact-1-image {
        clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
    }

    #contact-1-content h1 {
        font-size: 3.8rem;
        padding-bottom: 0.8rem;
    }

    #contact-1-content h1 {
        margin-left: 15vw;
    }

    .form-group {
        margin-left: 15vw;
    }

    .btn {
        margin-left: 25vw;
    }

}

footer {
    margin-top: 0rem;
}

/*Typewritter effect*/

.line-1 {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
    animation: typewriter 1s steps(19) 1s 1 normal both, blinkTextCursor 500ms steps(10) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}


/*Contact box ani*/

.form-label {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
    /* Safari 4.0 - 8.0 */
    display: inline-block;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.one {
    animation-delay: 0.2s;
}

.two {
    animation-delay: 0.4s;
}

.three {
    animation-delay: 0.6s;
}

.four {
    animation-delay: 0.8s;
}

.btn {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    visibility: visible !important;
    /* New code here: */
    -webkit-animation-delay: 1s;
    /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
    display: inline-block;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}


